@{
    Layout = "Layout/_ReportLayout";
}
@model IEnumerable<Commission>
<!-- Page-header start -->
<div class="page-header ribbon-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Report</h4>
                    <span>Commission</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a asp-action="index" asp-controller="Home"> <i class="icofont icofont-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>Commission</a>
                    </li>
                     <li class="breadcrumb-item">
                        <a href="#!">Lists</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<div class="row">
    <div class="col-sm-12">
        <!-- HTML5 Export Buttons table start -->
        <div class="card">
            <div class="card-header">
                <div class="row" style="border-bottom:2px #00b0ff solid;">
                    <div class="col-8">
                        <form asp-action="CommissionLists" asp-controller="Reports" accept-charset="UTF-8" role="form" method="get">
                            <div class="form-group row">
                                <div class="col text-center">
                                    <p>From</p>             
                                </div>
                                <div class="col-sm-4">
                                    <input name="from" type="text" class="form-control birthdate" placeholder="from..." required="required" value="@ViewBag.From">
                                </div>
                                <div class="col text-center">
                                    <p>To</p>
                                </div>
                                <div class="col-sm-4">
                                    <input name="to" type="text" class="form-control birthdate" placeholder="to..." required="required" value="@ViewBag.To">
                                </div>
                                <div class="col">
                                    <input type="submit" class="btn btn-primary btn-sm" placeholder="col" value="Find">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="dt-responsive table-responsive">
                    <table id="basic-btn" class="table-striped table-sm table-bordered nowrap" width="100%">
                        <thead>
                        <tr>
                            <th>N <sup>o</sup></th>
                            <th>Payment Code</th>
                            <th>Booked by</th>
                            <th>Description</th>
                            <th>Booking Date</th>
                            <th>Commission (%)</th>
                            <th>Commission ($)</th>
                            <th class="text-center">Status</th>
                            <th class="text-right">Total</th>
                            <th class="text-right">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{ int i = 1;}
                        @foreach (var pay in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>#@pay.PaymentCode</td>
                                <td>@pay.Employee.Emp_Name</td>
                                <td>@pay.Description</td>
                                <td>@pay.DocDate?.ToString("MM/dd/yyyy")</td>
                                <td>@pay.Prcnt %</td>
                                <td>$ @String.Format("{0:N2}", @pay.CommissionTotalUSD)</td>
                                <td class="text-center">
                                    @if (@pay.AcceptStatus == "C")
                                    {
                                        <i class="label label-warning">Close</i>
                                    }
                                    else
                                    {
                                        <i class="label label-info">Panding</i>
                                    }
                                </td>
                                <td class="text-right">$ @String.Format("{0:N2}", @pay.CommissionTotalUSD)</td>
                                <td class="text-right">
                                    @if (@pay.AcceptStatus == "C")
                                    {
                                        <a href="/payment/id/@pay.PaymentCode" class="text-warning"><i class="icofont icofont-eye"></i> View</a>
                                    }
                                    else
                                    {
                                        <a onclick="confirmCommission('@pay.PaymentCode','@Context.Session.GetString("OwnnerId")','@Context.Session.GetString("OwnnerName")')" class="text-primary"><i class="feather icon-check-circle"></i> Aceipt |</a>
                                        <a href="/payment/id/@pay.PaymentCode" class="text-warning"><i class="icofont icofont-eye"></i> View</a>
                                    }
                                </td>
                            </tr>
                            i++;
                        }
                        </tbody>
                        <tfoot>
                        <tr class="text-right">
                            <td colspan="7"><span style="font-weight: bold;">Grand Total</span> <span style="font-weight: bold;">$ @String.Format("{0:N2}", @ViewData["CommissionsTotalUSD"])</span></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- HTML5 Export Buttons end -->
    </div>
</div>
<script type="text/javascript">
    function confirmCommission(parm1,parm2,parm3) {
        swal({
            title: "Commission Confirm!",
            text: "Would you like to confirm the commission?",
            type: "input",
            showCancelButton: true,
            closeOnConfirm: false,
            inputPlaceholder: "Description",
            confirmButtonClass: "btn-danger"
        }, function (inputValue) {
            if (inputValue === false) return false;
            if (inputValue === "") {
                swal.showInputError("You need to write description!");
                return false
            }else{
                var parm={};
                parm.PaymentCode = parm1;
                parm.AcceptById = parm2;
                parm.AcceptByStr = parm3;
                parm.Remark = inputValue;
              
                $.ajax({
                    url: "/commission/confirm",
                    type: "post",
                    datatype: "json",
                    data:{"commission":parm},
                    success: function (data) {
                        swal({
                                title:"Confirm Successful!",
                                text:"Your commission has been confirmed!",
                                type:"success"
                            });
                        window.setTimeout(function(){window.location.reload()}, 1500);
                    },
                    error:function() {
                      swal({
                          title:"Confirm Failed!",
                          text:"Your commission has been failed!",
                          type:"error"
                      });
                      
                    }
                });
            }
        });
    }
</script>