@{
    Layout = "Layout/_ReportLayout";
}
@model Invoice
<!-- Invoice card start -->
<div class="card">
    <div class="row invoice-contact">
        <div class="col-md-8">
            <div class="invoice-box row">
                <div class="col-md-6 col-sm-12">
                    <table class="table table-responsive invoice-table table-borderless">
                        <tbody>
                        <tr>
                            <td><img src="~/images/logo/@Context.Session.GetString("Logo")" style="width:125px; height: 125px;" class="m-b-10" alt=""></td>
                        </tr>
                        <tr>
                            <td><b>Company :</b> <b>@Context.Session.GetString("CompanyName")</b></td>
                        </tr>
                        <tr>
                            <td><b> Address :</b> 
                                @Context.Session.GetString("St_Num") St. 
                                @Context.Session.GetString("Sangkat") ,
                                <br/> @Context.Session.GetString("Khan") ,
                                @Context.Session.GetString("City") ,
                                <br/>@Context.Session.GetString("Province") 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b> Email :</b> @Context.Session.GetString("Email") 
                            </td>
                        </tr>
                        <tr>
                            <td><b>Phone :</b> @Context.Session.GetString("Phone") </td>
                        </tr>
                        <tr>
                            <td><b>Mobile :</b> @Context.Session.GetString("Mobile") </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="row payment-info">
                <h5 style="border-bottom: 2px solid #ccc;"><b>Invoice Viewer</b></h5>
                <table class="table table-responsive invoice-table invoice-order table-borderless" id="tb-head-invoice">
                    <tbody>
                        <tr>
                            <td class="payment-code" style="font-weight: bold;">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span class="m-b-20">Invoic N<sup>o</sup> : </span>
                            </th>
                            <td class="invoice-code" style="font-weight: bold;">
                                #@Model.InvCode
                            </td>
                        </tr>

                        <tr hidden="hidden">
                            <th>
                                <span class="m-b-20">Payment N<sup>o</sup> : </span>
                            </th>
                            <td style="font-weight: bold;" class="payment-code">
                            </td>
                        </tr>

                        <tr>
                            <th>Order Date : </th>
                            <td class="order-date" style="font-weight: bold;">
                                @Model.CreateDate?.ToString("yyyy/MM/dd")
                            </td>
                        </tr>
                        <tr>
                            <th>Bill Date : </th>
                            <td class="order-date" style="font-weight: bold;">
                                @Model.CreateDate?.ToString("yyyy/MM/dd")
                            </td>
                        </tr>
                        <tr hidden="hidden">
                            <th>Doc Date : </th>
                            <td style="font-weight: bold;"> <span> @DateTime.Now.ToString("yyyy/MM/dd") </span></td>
                        </tr>

                        <tr>
                            <th>Status : </th>
                            <td style="font-weight: bold;">
                                @if (Model.PayStatus == "O")
                                {<span class="label label-warning">Pending</span>}
                                else
                                {<span class="label label-success">Paid</span>}
                            </td>
                        </tr>

                        <tr>
                            <th>Time In : </th>
                            <td style="font-weight: bold;"> <span> @Model.TimeIn </span></td>
                        </tr>
                        <tr>
                            <th>Time Out : </th>
                            <td style="font-weight: bold;"> <span> @Model.TimeOut </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table" id="table_print_payment">
                        <thead>
                        <tr class="thead-default h6">
                            <th>N<sup>o</sup></th>
                            <th>Code</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Disc</th>
                            <th class="text-right">Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>@Model.SectionStr</td>
                                <td>@Model.SectionStr</td>
                                <td>@String.Format("{0:N2}", Model.TotalHour) min</td>
                                <td>@String.Format("{0:N2}", Model.SectionPrice)</td>
                                <td>0.00</td>
                                <td class='text-right' style='font-weight: bold;'><b>$ @String.Format("{0:N2}", Model.SectionAmount)</b></td>
                            </tr>
                        @{ int i = 2;}
                        @foreach (var inv in Model.InvoiceDetails)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@inv.ItemCode</td>
                                <td class='text-left'>@inv.ItemStr</td>
                                <td class=''>@String.Format("{0:N2}",@inv.Quantity)</td>
                                <td class=''>@String.Format("{0:N2}",@inv.UnitPrice)</td>
                                <td class=''>@String.Format("{0:N2}",@inv.DiscPrcnt)</td>
                                <td class='text-right' style='font-weight: bold;'><b>$ @String.Format("{0:N2}",@inv.TotalLine)</b></td>
                            </tr>
                            i++;
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr style="border: 3px #ccc solid"/>
                <div class="text-right">
                    <h5><b>Total Due</b></h5>
                </div>
                <table class="table table-responsive invoice-table invoice-total" id="payment_total">
                                         
                    <tr>
                        <td style="font-weight: bold;">Sub Total / សរុប ($)</td>
                        <td class="text-right sub_total" style="font-weight: bold;">@String.Format("{0:N2}",@Model.SubTotalUSD)</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Free Hour / Free ម៉ោង (h)</td>
                        <td class="text-right free_hour_total" style="font-weight: bold;">@String.Format("{0:N2}",@Model.FreeHour)</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Discount / បញ្ខុះតម្លៃ (%)</td>
                        <td class="text-right discount_total" style="font-weight: bold;">@String.Format("{0:N2}",@Model.DiscPrcnt)</td>
                    </tr>
                    <tr hidden="hidden">
                        <td style="font-weight: bold;">VAT / ពន្ធ (%)</td>
                        <td class="text-right vat_total" style="font-weight: bold;">@String.Format("{0:N2}",@Model.TaxPrcnt)</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Service / សេវាកម្ម ($)</td>
                        <td class="text-right service_total" style="font-weight: bold;">@String.Format("{0:N2}",@Model.ServiceChargeUSD)</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #ccc">
                        <td style="font-weight: bold;">Other Charge / ការចំណាយផ្សេងៗ ($)</td>
                        <td class="text-right charg_total" style="font-weight: bold;">@String.Format("{0:N2}",@Model.OtherChargeUSD)</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Grand Total / សរុបទាំងអស់ ($)</td>
                        <td class="text-right grand_dollar_total" style="font-weight: bold;">@String.Format("{0:N2}",@Model.GrandTotalUSD)</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #ccc">
                        <td style="font-weight: bold;">Grand Total / សរុបទាំងអស់ (៛)</td>
                        <td class="text-right grand_riel_total" style="font-weight: bold;">@String.Format("{0:N2}",@Model.GrandTotalRiel)</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Recieved Dollars / ប្រាក់ទទួល ($)</td>
                        <td class="text-right received_dollar_total" style="font-weight: bold;">@String.Format("{0:N2}",@Model.ReceivedUSD)</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #ccc">
                        <td style="font-weight: bold;">Received Riel / ប្រាក់ទទួល (៛)</td>
                        <td class="text-right received_riel_total" style="font-weight: bold;">@String.Format("{0:N2}",@Model.ReceivedRiel)</td>
                    </tr>
                    <tr hidden="hidden">
                        <td style="font-weight: bold;">Exchange Dollars / ប្រាក់អាប់ ($)</td>
                        <td class="text-right exchange_dollar_total" style="font-weight: bold;">@String.Format("{0:N2}",@Model.ExchangeRate)</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Exchange Rate / អត្រាប្ដូរប្រាក់ $1</td>
                        <td class="text-right" style="font-weight: bold;">@String.Format("{0:N2}",@Model.ExchangeRate)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

