@{
    Layout = "InvLayout/_PchLayout";
}
@model IList<BusinessPartner>
<!-- Page-header start -->
<div class="page-header ribbon-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Business Partner</h4>
                    <span>Business Partner Lists</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a asp-action="index" asp-controller="Home"> <i class="icofont icofont-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>Business Partner</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Lists</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<div class="card">
    <div class="card-header">
        @*<h5>User Account Lists</h5>
            <span>This is a table user account lists.</span>*@
        <div class="text-right no-padding">
            <a asp-action="BPN_Add" asp-controller="BusinessPartners" class="btn btn-primary btn-sm text-white">Add New</a>
        </div>

        <h4 class="sub-title" style="border-bottom:2px #00ACED solid ">Business Partner Lists</h4>
    </div>
    <div class="card-block">
        <div class="dt-responsive table-responsive">
            <table id="footer-select" class="table table-striped table-bordered nowrap">
                <thead>
                    <tr>
                        <th>N<sup>o</sup></th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Phone</th>
                        <th>Mobile</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;}
                    @foreach (var p in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td hidden>@p.VendorId</td>
                            <td>@p.VendorName</td>
                            <td>@p.Gender</td>
                            <td>@p.Phone1</td>
                            <td>@p.Phone2</td>
                            @if (p.Type == "C")
                            {
                                <td><span class="label label-warning">Customer</span></td>
                            }
                            @if (p.Type == "V")
                            {
                                <td><span class="label label-warning">Vender</span></td>
                            }
                            <td><span class="label label-success">Active</span></td>
                            <td class="text-right">
                                <a class="btn-info btn-sm text-white" asp-action="BPN_Edit" asp-controller="BusinessPartners" asp-route-id="@p.VendorId">Edit</a>
                                <a class="btn-danger btn-sm waves-effect md-trigger text-white" onclick="deletePartner(@p.VendorId);">Delete</a>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    function deletePartner(val) {
        swal({
            title: "Are you sure?",
            text: "You'll to delete this partner profile!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
            function () {
                $.ajax({
                    url: "/BPN/Delete/" + val,
                    type: 'get',
                    datatype: "json",
                    success: function (data) {
                        swal("Deleted!", "Your partner has been deleted.", "success");
                        window.setTimeout(function () { window.location.reload() }, 1500);
                    },
                    error: function (data) {
                        swal("Error!", "Your parnter has been error deleted.", "error");
                    }
                });
            });
    }
</script>