@{
    var subcates =await CategoryService.GetSubcateL1();
}
<div class="dt-responsive table-responsive">
    <h4 class="sub-title" style="border-bottom:2px #00ACED solid ">Subcategory Lists</h4>
    <div class="col-sm-offset-2">
        <table id="simpletable" class="table table-striped table-bordered nowrap">
            <thead>
            <tr>
                <th>N<sup>o</sup></th>
                <th>SubCate. Name</th>
                <th>SubCate. Str</th>
                <th>Category</th>
                <th class="text-right">Action</th>
            </tr>
            </thead>
            <tbody>
            @{ int i = 1;}
            @foreach (var sf in subcates as List<SubCategoryL1>)
            {
                <tr>
                    <td>@i</td>
                    <td>@sf.SubCateL1_En</td>
                    <td>@sf.SubCateL1_Str</td>
                    <td>@sf.Category.Cate_En</td>
                    <td class="text-right">
                        <a class="btn-info btn-sm text-white" asp-action="EditSubCate" asp-controller="Categories" asp-route-id="@sf.SubCateL1_Id">Edit</a>|
                        <a class="btn-danger btn-sm waves-effect md-trigger text-white" onclick="deleteSubCate(@sf.SubCateL1_Id);">Delete</a>
                    </td>
                </tr>
                i++;
            }
            </tbody>
        </table>
    </div>
</div>