@{
    var UserId = long.Parse(Context.Session.GetString("UserId"));
    var MenuId = long.Parse(Context.Session.GetString("menu"));
    var Func = (await UserAccountService.GetMenuPermissions(UserId)).Where(_ => _.Type == "Function" && _.ParentId == MenuId);
    var SubFunc = (await UserAccountService.GetMenuPermissions(UserId)).Where(_ => _.Type == "Sub-Function");
}



<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Purchase A/P</div>
        <ul class="pcoded-item pcoded-left-item">
            @foreach (var f in Func)
            {

                @if (SubFunc.Where(_ => _.ParentId == f.Id).Count() > 0)
                {
                    <li class="pcoded-hasmenu">
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="@f.Icon"></i></span>
                            <span class="pcoded-mtext">@f.Name</span>
                        </a>
                        <ul class="pcoded-submenu">
                            @foreach (var sf in SubFunc)
                            {
                                if (f.Id == sf.ParentId)
                                {
                                    <li class="">
                                        <a asp-action="@sf.Action" asp-controller="@sf.Controller">
                                            <span class="pcoded-mtext">@sf.Name</span>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
                else
                {
                    <li href="javascript:void(0)">
                        <a asp-action="@f.Action" asp-controller="@f.Controller">
                            <span class="pcoded-micon"><i class="@f.Icon"></i></span>
                            <span class="pcoded-mtext">@f.Name</span>
                        </a>
                    </li>
                }
            }
        </ul>

        @*<ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                    <span class="pcoded-mtext">Business Partners</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="">
                        <a asp-action="BPN_Add" asp-controller="BusinessPartners">
                            <span class="pcoded-mtext">Add New</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a asp-action="BPN_List" asp-controller="BusinessPartners">
                            <span class="pcoded-mtext">BPN Lists</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-clipboard"></i></span>
                    <span class="pcoded-mtext">Purchase</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a asp-action="Purchase" asp-controller="Inventory">
                            <span class="pcoded-mtext">Purchase Order</span>
                        </a>
                    </li>
                    <li class="">
                        <a asp-action="PurchaseList" asp-controller="Inventory">
                            <span class="pcoded-mtext">Purchase List</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-book"></i></span>
                    <span class="pcoded-mtext">Inventory Transaction</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a asp-action="GoodsReceipt" asp-controller="Inventory">
                            <span class="pcoded-mtext">Goods Receipt</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a asp-action="GoodsIssue" asp-controller="Inventory">
                            <span class="pcoded-mtext">Goods Issue</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>*@
    </div>
</nav>



<script type="text/javascript" src="~/template/files/bower_components/jquery/js/jquery.min.js"></script>
<script type="text/javascript" src="~/template/files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/template/files/bower_components/popper.js/js/popper.min.js"></script>
<script type="text/javascript" src="~/template/files/bower_components/bootstrap/js/bootstrap.min.js"></script>

<script src="~/template/files/assets/pages/data-table/extensions/buttons/js/extension-btns-custom.js"></script>
